COMPOSE_PROJECT_NAME=association-org
HTTP_PORT=8081

DB_NAME=association_wp
DB_USER=association_wp
WP_TABLE_PREFIX=wp_

WORDPRESS_IMAGE=wordpress:7.0-php8.3-fpm-alpine
NGINX_IMAGE=nginx:1.30-alpine
MARIADB_IMAGE=mariadb:11.8

WP_MEM_LIMIT=512m
NGINX_MEM_LIMIT=64m
DB_MEM_LIMIT=384m
